name: Random Code Snippet
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ${{ github.repository_owner }}
          template: classic
          committer_branch: main
          base: ""
          filename: assets/metrics.plugin.code.svg
          
          # Code Plugin Configuration
          plugin_code: yes
          plugin_code_load: 400
          plugin_code_lines: 12
          plugin_code_visibility: public
          plugin_code_languages: python, javascript, typescript, html, css, java, c++