name: Recent Activity
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ${{ github.repository_owner }}
          template: classic
          base: ""
          filename: assets/metrics.plugin.activity.svg
          
          # Debugging
          debug: yes
          
          # Activity Plugin
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_load: 10         # EXTREMELY LOW load to debug
          plugin_activity_days: 0
          plugin_activity_filter: push     # Test PUSH only again with low load
          plugin_activity_visibility: public # Reset to public just in case
          
          # WORKAROUND: Ignore bots and GHOST users (deleted accounts)
          plugin_activity_ignored: github-actions[bot], dependabot[bot], dependabot-preview[bot], ghost